/* 整体布局 */
body{
	min-width: 1000px;
}
.g-wrap{
	margin: 0 auto;
	width: 1000px;
	padding: 10px;
}
hr{
	margin: 40px 0;
}
/* /整体布局 */
/* 头部信息 */
header{
	position: relative;
}
.header-contact{
	float: left;
	width: 220px;
}
.header-info{
	margin-left: 240px;
}
/* clearfix */
.clearfix:after {
   content: "."; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.clearfix {zoom: 1;} /* 针对 IE 不支持 :after */
.header-contact *{
	display: block;
}
.header-info *:not(i){
	display: inline-block;
}
/* /头部信息 */
/* 导航 */
nav *:not(i){
	display: inline-block;
}
/* /导航 */
/* 技能路线 */
#Skills ul li{
	display: inline-block;
}
/* /技能路线 */
/* 职业生涯 */
#JobCareer ul li{
	display: inline-block;
}
/* /职业生涯 */