@media all and (max-width: 980px){
	body{
		min-width: 750px;
	}
	.g-wrap{
		width: 750px;
		padding: 10px;
	}
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 20px;
	}
	strong,a,li,span,p{
		font-size: 16px;
	}
	i{
		font-size: 16px;
	}
	hr{
		margin: 30px 0;
	}
	/* 头部信息 */
	.header-info{
		margin-left: 220px;
	}
	.header-info ul li{
		margin-right: 20px;
	}
	.header-info img{
		width: 200px;
	}
	.header-info ul li:nth-child(9),.header-info ul li:nth-child(10){
		top: 120px;
		left: 330px;
	}
	/* 导航 */
	nav ul{
		height: 50px;
	}
	nav ul li{
		width: 130px;
		height: 45px;
	}
	/* 技能路线 */
	#Skills li{
		width: 240px;
	}
	/* 职业生涯 */
	#JobCareer ul li{
		width: 240px;
	}
	#JobCareer ul li:first-child{
		padding-right: 1px;
	}
	/* 项目案例 */
	#ProjectCase ul li p{
		line-height: 24px;
	}
	/* 自我评价 */
	#SelfAssessment p{
		line-height: 24px;
	}
	#SelfAssessment ul li{
		margin-bottom: 10px;
	}
	#SelfAssessment ul li img{
		width: 30%;
		height: 200px;
		margin: 0 10px;
	}
}
@media all and (max-width: 640px){
	body{
		min-width: 440px;
	}
	.g-wrap{
		width: 440px;
	}
	/* 头部信息 */
	.header-contact{
		width: 200px;
	}
	.header-contact img{
		width: 120px;
	}
	.header-info{
		margin-left: 200px;
	}
	.header-info ul li{
		margin-bottom: 8px;
	}
	.header-info ul li:nth-child(7),.header-info ul li:nth-child(8){
		text-indent: -185px;
	}
	.header-info .shine,.header-info ul li:nth-child(9),.header-info ul li:nth-child(10){
		display: none!important;
	}
	/* 导航 */
	nav ul{
		height: 100px;
	}
	nav ul li{
		margin-bottom: 15px;
	}
	/* 技能路线 */
	#Skills li{
		width: 140px;
	}
	#Skills ul li:first-child{
		margin-right: 10px;
		word-wrap: break-word;
	}
	#Skills ul li:last-child{
		margin-left: -10px;
	}
	/* 职业生涯 */
	#JobCareer ul li{
		width: 150px;
		word-break: break-all;
	}
	#JobCareer ul li:first-child{
		margin-right: 10px;
	}
	#JobCareer ul li:last-child{
		margin-left: 10px;
	}
	/* 自我评价 */
	#SelfAssessment ul li img{
		width: 80%;
		margin: 10px auto;
	}
}
@media all and (max-width: 360px){
	body{
		min-width: 100%;
	}
	.g-wrap{
		width: 100%;
	}
	h1{
		font-size: 22px;
	}
	h2{
		font-size: 18px;
	}
	strong,a,li,span,p{
		font-size: 14px;
	}
	i{
		font-size: 14px;
	}
	/* 头部信息 */
	.header-contact{
		width: 120px;
	}
	.header-contact>a{
		font-size: 11px;
	}
	.header-contact img{
		width: 90px;
	}
	.header-info{
		margin-left: 130px;
	}
	.header-info ul li:nth-child(2),.header-info ul li:nth-child(3){
		margin-right: 80px;
	}
	.header-info ul li:nth-child(7),.header-info ul li:nth-child(8){
		text-indent: -120px;
	}
	/* 导航 */
	nav ul{
		height: 160px;
	}
	/* 求职目标 */
	#CareerObj ul li{
		word-break: break-all;
	}
	/* 技能路线 */
	#Skills li{
		width: 100px;
	}
	#Skills ul li:first-child{
		margin-right: 0;
	}
	#Skills ul li:last-child i{
		margin-left: 0;
	}
	#Skills ul li:last-child i{
		display: none;
	}
	/* 职业生涯 */
	#JobCareer ul li{
		width: 30%;
		margin-right: 0;
		font-size: 12px;
		word-break: break-all;
	}
}