/* 整体边框样式 */
.g-wrap{
/* 	border-width: 0 3px;
	border-style: solid;
	border-color: #333; */
	box-shadow: 2px 0 5px 5px #666,-2px 0 3px 3px #666;
}
/* /整体边框样式 */
/* 头部信息样式 */
.header-contact *{
	display: table;
	margin: 3px auto;
}
.header-contact img{
	margin-bottom: 10px;
	width: 150px;
	border-radius: 50%;
}
.header-contact strong,.header-contact em a{
	font-weight: bold;
}
.header-contact strong{
	text-indent: 10px;
}
.header-contact strong i{
	text-indent: -10px;
}
.header-info ul{
	position: relative;
}
.header-info ul li{
	margin: 0 42px 20px 0;
}
.shine{
	margin-left: 30px;
	font-size: 16px;
	font-weight: bolder;
	color: #600;
	-webkit-animation: shine 0.6s both ease infinite;
	animation: shine 0.6s both ease infinite;
}
@-webkit-keyframes shine{
	from{color: #600;}
	to{color: #f00;}
}
@keyframes shine{
	from{color: #600;}
	to{color: #f00;}
}
.header-info img{
	width: 245px;
}
.header-info ul li:nth-child(6),.header-info ul li:nth-child(7){
	margin-right: 80px;
}
.header-info ul li:nth-child(9),.header-info ul li:nth-child(10){
	display: none;
	position: absolute;
	top: 100px;
	left: 410px;
}
.header-contact *:not(i):hover,.header-info *:not(ul):not(i):hover{
	transform: scale(1.08, 1.08)
}
/* /头部信息样式 */
/* 导航样式 */
nav{
	display: flex;
}
nav ul{
	flex: 1;
	height: 60px;
}
nav ul li{
	width: 160px;
	height: 50px;
}
nav ul:not(i){
	text-align: center;
}
nav ul li:hover{
	border: 1px solid #333;
	box-shadow: 3px 3px 2px 1px #666,-3px -3px 2px 1px #666;
	background-color: #ccc;
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation: swingalways 1s both ease infinite;
	animation: swingalways 1s both ease infinite;
}
@-webkit-keyframes swingalways {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swingalways {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
/* /导航样式 */
/* 求职目标 */
#CareerObj ul li{
	margin-bottom: 10px;
}
#CareerObj ul li:nth-child(1),#CareerObj ul li:nth-child(2){
	display: inline-block;
}
#CareerObj ul li:nth-child(1){
	margin-right: 60px;
}
/* /求职目标 */
/* 技能路线 */
#Skills li{
	width: 300px;
	vertical-align: top;
}
#Skills ul li:first-child{
	margin-right: 35px;
}
#Skills ul li:last-child{
	margin-left: -60px;
}
.Map{
	height: 10px;
	background-image: linear-gradient(to right,#ccc,#333);
	border-radius: 0 10px 10px 0;
	-webkit-animation: long 5s both linear infinite;
	animation: long 5s both linear infinite;
}
@-webkit-keyframes long{
	from{width: 0;}
	to{width: 100%;}
}
@keyframes long{
	from{width: 0;}
	to{width: 100%;}
}
/* /技能路线 */
/* 职业生涯 */
#JobCareer ul{
	display: flex;
}
#JobCareer ul li{
	align-self: stretch;
	width: 300px;
}
#JobCareer ul li:first-child{
	margin-right: 40px;
}
.Map.Career{
	-webkit-animation-delay: 1s;
	animation-delay: : 1s;
}
/* /职业生涯 */
/* 项目案例 */
#ProjectCase ul li{
	display: block;
	margin: 20px auto;
}
#ProjectCase ul li em a{
	font-style: italic;
}
#ProjectCase ul li p{
	line-height: 30px;
}
/* /项目案例 */
/* 自我评价 */
#SelfAssessment p{
	margin-bottom: 20px;
	line-height: 30px;
	text-indent: 2em;
}
#SelfAssessment ul li{
	margin-bottom: 20px;
}
#SelfAssessment ul li span{
	margin-left: 10px;
}
#SelfAssessment ul li:last-child{
	display: none;
	width: 100%;
}
#SelfAssessment ul li img{
	display: inline-block;
	width: 30%;
	height: 200px;
	margin: 0 15px;
}
#SelfAssessment ul li img:hover{
	transform: scale(1.1, 1.1)
}
/* /自我评价 */